.navbar-nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    margin: 0;

}

.nav {
    background-color: #d1baa1;
display: block;
}
.navbar-toggler {
    color: #827262;
    border: 1px solid #827262;
    background-color: whitesmoke;
    
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #827262;
}
.nav-btn {
    padding: 10px 20px;
    color: #827262;
    border: 1px solid #827262;
    background-color: whitesmoke;
    
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}